{% extends "base.html" %}
{% set hide_login_link = True %}

{% block title %}Set New Password - MathYou McConaughyay{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Set New Password</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="" method="post">
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}